<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        table{
            width: 100%;
        }
        table, th, td{
            border: 1px solid black;
        }
        tr:nth-child(even){
            background-color: olive;
            color: white;
        }

        tr:hover{
            background-color: black;
            color: white;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>

        <tr>
            <td>1</td>
            <td>Demo</td>
            <td>User</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Demo</td>
            <td>User</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Demo</td>
            <td>User</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Demo</td>
            <td>User</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Demo</td>
            <td>User</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Demo</td>
            <td>User</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Demo</td>
            <td>User</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Demo</td>
            <td>User</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Demo</td>
            <td>User</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Demo</td>
            <td>User</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Demo</td>
            <td>User</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Demo</td>
            <td>User</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Demo</td>
            <td>User</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Demo</td>
            <td>User</td>
        </tr>
    </table>
</body>
</html>