.mydiv{
    text-align: center;
    padding: 20px;
    background-color: olive;
    color: white;
}

.heading{
    background-color: powderblue;
    color: black;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid black;
}